### Tuples

In [1]:
#they are odered collection
#they are immutable
#they are enlosed in ()
#they allow duplication

In [3]:
a=(1,2,3,4,5,[1,2,3,4,5,6], "ravi")

#### Indexing

In [4]:
#just same like strings and lists
a[0]

1

In [5]:
a[5][1]

2

In [8]:
if "ravi" in a:
    print("yes")

yes

In [13]:
for i in enumerate(a):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, [1, 2, 3, 4, 5, 6])
(6, 'ravi')

In [14]:
a[6][2]

'v'

In [16]:
a.count(1)

1

In [17]:
a.count("ravi")

1

In [18]:
a.index(5)

4

In [21]:
a.index("ravi")#ravi is considered as single index

6

In [22]:
len(a)

7

### Sets

##### they are unordered collection
#enlosed in {}
#they can hold heterogenous data
#they wont allow any duplications
#mutable

In [99]:
b={1,2,3,4,(1,2,3,4,5),1,2,3,4,"ravi","ravi", True}#list cannot be inserted into set
c=[{1,2,3,4,5,6},1,2,3,4,5]#list
d=([1,2,3,4,5],1,2,3,4,5,{1,2,4},"ravi")# in tuples we can store any type of data

In [100]:
b#this shows no duplication

{(1, 2, 3, 4, 5), 1, 2, 3, 4, 'ravi'}

In [36]:
len(b)

6

In [40]:
e={}
print(type(e))
f=set()
print(type(f))

<class 'dict'>
<class 'set'>

In [42]:
for i in a:
    print(i)

1
2
3
4
5
[1, 2, 3, 4, 5, 6]
ravi

In [43]:
for i in enumerate(a):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, [1, 2, 3, 4, 5, 6])
(6, 'ravi')

In [44]:
#we can use memebership operators
1 in a

True

In [51]:
#add() and remove() 
b.add("pravansh")
b
b.remove("pravansh")
b

{(1, 2, 3, 4, 5), 1, 2, 3, 4, 'ravi'}

In [59]:
b.update("4")#we can update only strings in set
b
b.add(9)#by add function we can any data type except list
b

{(1, 2, 3, 4, 5), 1, 2, 3, 4, '4', '8', 9, 'ravi'}

In [60]:
#remove and dicard
b.remove(19)# this gives key error

KeyError: 19

In [62]:
b.discard(19)#this wont give any error
b

{(1, 2, 3, 4, 5), 1, 2, 3, 4, '4', '8', 9, 'ravi'}

In [63]:
#del function delete whole set

In [65]:
#copy() for coping set
a1=a
print(id(a),id(a1))

2877627893504 2877627893504

In [69]:
#but when you copy the same set into other variable it accquires different id
b1=b.copy()
print(id(b1))
print(id(b))

2875520421440
2875520419648

In [70]:
#clear
g={1,2,3,4}
print(g)
g.clear()
print(g)

{1, 2, 3, 4}
set()

### set operations

In [71]:
#union
print(b)
print(g)
h={4,5,6,7}
print(h)
print(b|g)#union with pipe operator
print(b.union(g))#union with function
print(b.union(g,h))#union of more than two sets

{1, 2, 3, 4, 'ravi', 9, '8', '4', (1, 2, 3, 4, 5)}
set()
{4, 5, 6, 7}
{1, 2, 3, 4, 'ravi', 9, '8', '4', (1, 2, 3, 4, 5)}
{1, 2, 3, 4, 'ravi', 9, '8', '4', (1, 2, 3, 4, 5)}
{1, 2, 3, 4, 5, 6, 7, 'ravi', 9, '8', '4', (1, 2, 3, 4, 5)}

In [73]:
#intersection
print(b&g)
print(b.intersection(g))
print(b&h)

set()
set()
{4}

In [75]:
#b.intersection_update sees the coomon in both sets and update the set with intersected values
x={1,2,3,4,5}
y={6,7,8,4,5,3}
x.intersection_update(y)
x

{3, 4, 5}

In [82]:
#difference
print(x)
print(y)
print(x-y)# this returns only items present x in which are not in y
print((y-x))
print(y.difference(x))
#differenece_update same like intersection_update

{3, 4, 5}
{3, 4, 5, 6, 7, 8}
set()
{8, 6, 7}
{8, 6, 7}

In [88]:
z={1,2,3}
x.union(z)
#symmetric difference
x^z# return the value which are not common in both
x.symmetric_difference(z)#same ouypuy like above

{1, 2, 4, 5}

In [96]:
#subset, superset and disjoint
x
y
print(x.issubset(y))#subset x is the subset of y
print(x.issuperset(y))
print(x.issuperset(x))#gives true when all elements are present in both
print(x.isdisjoint(y))#gives true when no elements are same

True
False
True
False

In [98]:
sorted(y)#sorts y #this only works when only int or str present. but butnot both as mixture

[3, 4, 5, 6, 7, 8]

In [101]:
b

{(1, 2, 3, 4, 5), 1, 2, 3, 4, 'ravi'}

In [103]:
g={"ravi","kiran","reddy"}

In [104]:
sorted(g)

['kiran', 'ravi', 'reddy']